/* Default height for small devices */
#intro-example {
  height: 480px;
  background-image: url('../assets/homebg.jpg');
}

/* Height for devices larger than 992px */
@media (min-width: 992px) {
  #intro-example {
    height: 600px;
  }
}

#homebutton1 {
  background-color: hotpink;
  font-family: 'Montserrat';
  font-size: x-small;
  font-weight: 900;
  color:rgb(255, 255, 255);
}

#homebutton2 {
  background-color: lightseagreen;
  font-family: 'Montserrat';
  font-size: x-small;
  font-weight: bolder;
  color: rgb(255, 255, 255)
}

#homebutton1:hover {
  background-color: rgba(255, 192, 203, 0);
  font-size: x-small;
}

#homebutton2:hover {
  background-color: rgba(255, 192, 203, 0);
  font-size: x-small;
}

#hometitle1 {
  font-family: 'Baskerville Old Face';
  font-weight: bolder;
  color: rgb(255, 255, 255);
  outline-color: indigo;
}

#hometitle5 {
    font-family: 'Lucinda Calligraphy';
    font-size: medium;
}