body {
  font-family: 'Sacramento';
  src: local('Sacramento'), url(./assets/Sacramento/Sacramento-Regular.ttf) format('ttf');

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Sacramento';
  src: local('Sacramento'), url(./assets/Sacramento/Sacramento-Regular.ttf) format('ttf');
  font-family: 'Montserrat';
  src: local('Montserrat'), url(./assets/montserrat//Montserrat-Bold.ttf) format('ttf');
}